@font-face {
  font-family: 'Montserrat';
  src: url('./ttf/Montserrat-Light.ttf') format('truetype');
  font-weight: var(--bb-weight-light);
}

@font-face {
  font-family: 'Montserrat';
  src: url('./ttf/Montserrat-Regular.ttf') format('truetype');
  font-weight: var(--bb-weight-regular);
}

@font-face {
  font-family: 'Montserrat';
  src: url('./ttf/Montserrat-Medium.ttf') format('truetype');
  font-weight: var(--bb-weight-medium);
}

@font-face {
  font-family: 'Montserrat';
  src: url('./ttf/Montserrat-Bold.ttf') format('truetype');
  font-weight: var(--bb-weight-bold);
}
